@import 'bootstrap';
@import './navbar.css';
@import 'flag-icon-css/css/flag-icons';
@import './card.css';


:root{
  --main-color: #06145a;
  --second-color: #eb6841;
  --third-color: #c51926;
  --shadow-color:  #bcbcbc;
}

.background {
  background: linear-gradient(to left, #ff7f50, #ffdab9);
  overflow: hidden;
}

a{
  text-decoration: none;
  color:var(--second-color)
  
}
.btn_orange{
  background-color: white !important;
  color:var(--second-color) !important;
  border: 1px solid var(--second-color) !important;
}
.btn_orange:hover{
  background-color: var(--second-color) !important;
  color: white !important;
}

.color_white:hover{
  color: white;
}

h1{
  color: var(--main-color);
}

.cash_cursor{
  cursor: url("http://127.0.0.1:8000/img/coin.png"),pointer;}
  
  .btn_red{
    background-color: var(--third-color) !important;
    color: white !important;
    border: 1px solid var(--third-color) !important;
  }
  .btn_red:hover{
    background-color: white !important;
    color: var(--third-color) !important;
  }

  .btn_green{
    background-color: green !important;
    color: white !important;
    border: 1px solid green !important;
  }
  
  .btn_green:hover{
    background-color: white !important;
    color: green !important;
  }
  
  .sticky_nav{
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  .background_blue{
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  .font_size_big{
    font-size: large;
  }
  
  .shadow_color{
    box-shadow: 5px 5px 15px 5px var(--shadow-color);
  }
  
  
  .footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    margin-bottom: 0px;
    align-items: center;
    gap: 0.2rem;
  }
  
  .img-header {
    height: 100%;
  }
  
  .horizontal-list {
    list-style-type: none; 
    padding: 0; 
  }
  
  .horizontal-list li {
    display: inline-block; 
    margin-right: 10px; 
  }
  .img-preview {
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #06145a92;
    
}